{% extends '@IQ2iArqui/base.html.twig' %}

{% block html_classes %}h-full bg-white dark:bg-gray-900{% endblock %}
{% block body_classes %}h-full{% endblock %}

{% block meta %}
    <link rel="apple-touch-icon" sizes="180x180" href="{{ asset('/bundles/iq2iarqui/apple-touch-icon.png') }}">
    <link rel="icon" type="image/png" sizes="32x32" href="{{ asset('/bundles/iq2iarqui/favicon-32x32.png') }}">
    <link rel="icon" type="image/png" sizes="16x16" href="{{ asset('/bundles/iq2iarqui/favicon-16x16.png') }}">
    <meta name="theme-color" content="#ffffff">
{% endblock %}

{% block stylesheets %}
    <link rel="stylesheet" href="{{ asset('/bundles/iq2iarqui/arqui.css') }}"/>
{% endblock %}

{% block javascripts %}
    <script type="importmap">
        {
            "imports": {
                "arqui": "{{ asset('/bundles/iq2iarqui/arqui.js') }}",
                "@hotwired/stimulus": "{{ asset('/bundles/iq2iarqui/vendor/stimulus/stimulus.js') }}",
                "highlight.js/lib/core": "{{ asset('/bundles/iq2iarqui/vendor/highlight.js/lib/core.js') }}",
                "highlight.js/lib/languages/twig": "{{ asset('/bundles/iq2iarqui/vendor/highlight.js/lib/languages/twig.js') }}",
                "highlight.js/lib/languages/xml": "{{ asset('/bundles/iq2iarqui/vendor/highlight.js/lib/languages/xml.js') }}"
            }
        }
    </script>
    <script type="module">import 'arqui';</script>
{% endblock %}

{% block body %}
    <div class="fixed inset-y-0 z-50 flex w-72 flex-col">
        <div class="flex grow flex-col gap-y-2 overflow-y-auto border-r border-gray-200 bg-slate-100 dark:border-gray-600 dark:bg-gray-800">
            <div class="flex px-6 py-4 shrink-0">
                <svg class="h-12 w-auto mr-3" viewBox="0 0 138 138"><g data-uid="o_fce4haelc_7"><path d="M68.786 101.715a36.911 36.911 0 0 0-12.475-2.162c-15.912 0-29.871 10.16-35.023 24.893-2.083 5.962 2.373 12.194 8.686 12.194h1.614l6.18-3.063 6.076 3.063h24.934l6.123-3.063 6.13 3.063h1.616c6.316 0 10.772-6.232 8.686-12.194-3.661-10.478-11.92-18.923-22.547-22.731z" fill="#efedff" data-uid="o_fce4haelc_8"/><path d="M68.772 101.71a36.908 36.908 0 0 0-12.461-2.157c-15.912 0-29.871 10.16-35.023 24.893-2.083 5.962 2.373 12.194 8.686 12.194h7.792a43.686 43.686 0 0 1 31.003-34.93z" fill="#d4d4ff" data-uid="o_fce4haelc_9"/><path d="M34.652 106.555c-1.945 9.777-3.064 19.23-3.064 30.085h12.256v-16.118z" fill="#d6948c" data-uid="o_fce4haelc_10"/><path d="m78.168 107.56-.2-1.008-9.187 13.973v16.117h12.25c0-9.763-.959-19.506-2.863-29.08z" fill="#ce857a" data-uid="o_fce4haelc_11"/><path d="M34.652 106.55c-1.945 9.777-3.064 19.234-3.064 30.09h6.18a43.683 43.683 0 0 1 6.076-16.118z" fill="#bd7669" data-uid="o_fce4haelc_12"/><path d="M36.767 101.013c-3.434 3.435-3.434 9 0 12.432l7.077 7.077V93.933z" fill="#e8b5b1" data-uid="o_fce4haelc_13"/><path d="m75.852 101.013-7.072-7.077v26.589l7.072-7.077c3.434-3.435 3.434-9 0-12.432z" fill="#e8b5b1" data-uid="o_fce4haelc_14"/><path d="M60.769 123.805c-.33-3.088-.82-7.543-1.425-11.194h-6.061c-.604 3.653-1.097 8.103-1.425 11.194a2.36 2.36 0 0 0 .677 1.917l2.11 2.11c.46.46 1.064.685 1.668.685.678 0 1.208-.225 1.669-.685l2.11-2.11a2.357 2.357 0 0 0 .677-1.917z" fill="#676fb2" data-uid="o_fce4haelc_15"/><path d="m56.322 95.014-12.478 6.695c1.286 3.375 3.331 6.34 5.996 8.851 3.624 3.413 9.339 3.413 12.96-.003 2.66-2.508 4.7-5.482 5.983-8.854z" fill="#4c5699" data-uid="o_fce4haelc_16"/><path d="M99.54 47.977H13.082c-6.105 0-11.053 4.948-11.053 11.053s4.948 11.053 11.053 11.053H99.54c6.105 0 11.053-4.948 11.053-11.053s-4.948-11.053-11.053-11.053z" fill="#ffcbbe" data-uid="o_fce4haelc_17"/><path d="M56.92 15.183h-1.216L11.857 59.03l28.87 36.81a18.376 18.376 0 0 0 14.462 7.034h8.491a43.655 43.655 0 0 0 5.106-1.17c18.493-5.398 31.98-22.466 31.98-42.674z" fill="#ffddcf" data-uid="o_fce4haelc_18"/><path d="M26.594 59.03c0-.775.02-1.541.059-2.308H14.164L11.86 59.03c0 20.224 13.504 37.29 31.986 42.68a44.465 44.465 0 0 0 12.467 1.773c2.51 0 4.973-.21 7.37-.61-21.045-3.51-37.087-21.802-37.087-43.843z" fill="#ffcbbe" data-uid="o_fce4haelc_19"/><path d="M99.38 47.977c-4.913-19.205-22.334-33.403-43.07-33.403-20.735 0-38.153 14.198-43.069 33.403a44.52 44.52 0 0 0-1.384 11.053c5.136 0 10.114-.807 14.797-2.308 13.303-4.254 24.23-14.083 29.66-26.8 7.342 17.194 24.73 29.105 44.453 29.105 0-3.816-.482-7.518-1.387-11.05z" fill="#d6948c" data-uid="o_fce4haelc_20"/><path fill="#ff8e9e" data-cx="118.44" data-cy="273.79" data-rx="32.66" data-ry="26.01" d="M23.233 74.154c0-3.89 3.96-7.045 8.846-7.045 4.885 0 8.845 3.154 8.845 7.045 0 3.89-3.96 7.044-8.845 7.044-4.886 0-8.846-3.154-8.846-7.044Z" data-uid="o_fce4haelc_21"/><path fill="#ff8e9e" data-cx="297.26" data-cy="273.79" data-rx="32.8" data-ry="26.01" d="M71.627 74.154c0-3.89 3.977-7.045 8.883-7.045 4.907 0 8.884 3.154 8.884 7.045 0 3.89-3.977 7.044-8.884 7.044-4.906 0-8.883-3.154-8.883-7.044Z" data-uid="o_fce4haelc_22"/><path d="M34.779 10.68a43.06 43.06 0 0 0-17.41 18.92h38.944V4.91a43.05 43.05 0 0 0-21.534 5.77z" fill="#ffb357" data-uid="o_fce4haelc_23"/><path d="M77.845 10.68a43.045 43.045 0 0 0-21.534-5.77V29.6h38.944a43.06 43.06 0 0 0-17.41-18.92z" fill="#ffce71" data-uid="o_fce4haelc_24"/><path d="M103.288 40.689 95.255 29.6H68.564V6.628a4.592 4.592 0 0 0-4.594-4.594h-3.063l-11.67 2.88v38.721l11.673 4.347h38.662c3.752 0 5.921-4.252 3.722-7.288z" fill="#fce3a0" data-uid="o_fce4haelc_25"/><path d="M60.907 2.031H48.654a4.594 4.594 0 0 0-4.593 4.594v22.973H17.369L9.336 40.686c-2.2 3.039-.03 7.291 3.721 7.291H60.91c-12.649-12.648-12.716-33.23 0-45.946z" fill="#ffce71" data-uid="o_fce4haelc_26"/><path d="M128.515 90.605h-13.933l-7.952 5.417v35.21l7.952 5.408h13.933c4.487 0 8.125-3.63 8.125-8.117V98.73a8.125 8.125 0 0 0-8.125-8.125z" fill="#1cbbea" data-uid="o_fce4haelc_27"/><path d="M110.91 128.523v-13.35h3.626v-7.798l-3.626-3.626V98.73c0-3.237 1.422-6.14 3.672-8.125h-14.506a8.125 8.125 0 0 0-8.125 8.125v29.793c0 4.488 3.637 8.117 8.125 8.117h14.506a10.788 10.788 0 0 1-3.672-8.117z" fill="#08a5d6" data-uid="o_fce4haelc_28"/><path d="M37.184 61.706c-1.121 0-2.031.91-2.031 2.031v3.676a2.032 2.032 0 0 0 4.062 0v-3.676c0-1.121-.91-2.031-2.031-2.031z" data-uid="o_fce4haelc_29"/><path d="M75.44 69.444c1.122 0 2.032-.91 2.032-2.031v-3.676a2.032 2.032 0 0 0-4.063 0v3.676c0 1.12.91 2.03 2.031 2.03z" data-uid="o_fce4haelc_30"/><path d="M56.313 71.632a8.732 8.732 0 0 0 6.577-2.993 2.03 2.03 0 1 0-3.062-2.669 4.654 4.654 0 0 1-7.027 0 2.031 2.031 0 0 0-3.062 2.67 8.717 8.717 0 0 0 6.576 2.995z" data-uid="o_fce4haelc_31"/><path d="M128.515 88.573h-28.439c-5.6 0-10.156 4.556-10.156 10.157v17.916a39.168 39.168 0 0 0-9.561-10.828 10.773 10.773 0 0 0-2.47-5.588c11.19-5.874 19.563-16.218 23.075-28.21 6.652-.75 11.66-6.186 11.66-12.993 0-5.333-3.074-9.823-7.605-11.879a6.603 6.603 0 0 0-.084-7.654l-7.936-10.953c-5.533-11.58-15.351-19.7-26.572-23.398-.674-2.941-3.312-5.146-6.457-5.146H48.654A6.556 6.556 0 0 0 42.2 5.141a45.142 45.142 0 0 0-11.462 5.685c-.924.636-1.157 1.9-.523 2.824s1.901 1.157 2.825.523a40.847 40.847 0 0 1 8.987-4.664v18.057h-21.31a41.005 41.005 0 0 1 6.4-8.428 2.032 2.032 0 0 0-2.893-2.855 45.001 45.001 0 0 0-8.607 12.266L7.689 39.494a6.604 6.604 0 0 0-.084 7.654C3.075 49.204 0 53.694 0 59.027c0 6.804 5.005 12.237 11.654 12.99C15.143 83.939 23.463 94.32 34.73 100.23a10.755 10.755 0 0 0-2.47 5.593c-5.95 4.648-10.4 10.831-12.887 17.949-2.54 7.272 2.86 14.893 10.604 14.893H82.65c3.592 0 6.85-1.64 8.99-4.506a10.156 10.156 0 0 0 8.436 4.506h16.451a2.032 2.032 0 0 0 0-4.062H100.08c-3.361 0-6.094-2.73-6.094-6.086V98.724a6.1 6.1 0 0 1 6.094-6.094h28.438a6.1 6.1 0 0 1 6.094 6.094v29.793c0 3.356-2.733 6.086-6.094 6.086h-3.862a2.032 2.032 0 0 0 0 4.062h3.865c5.601 0 10.157-4.552 10.157-10.148V98.724c0-5.6-4.556-10.156-10.157-10.156zM35.33 114.88l6.484 6.484v13.244h-8.18c.09-6.651.618-13.092 1.631-19.795.225.024.044.046.067.07zm20.98-9.365a47.6 47.6 0 0 0 8.718-.816 22.645 22.645 0 0 1-3.621 4.383c-2.836 2.678-7.332 2.678-10.173.002a22.559 22.559 0 0 1-3.632-4.38c2.757.52 5.718.813 8.708.813zm2.435 18.504c.105.097-.239.195-.095.265l-2.11 2.11a.337.337 0 0 1-.463 0l-2.11-2.11a.325.325 0 0 1-.094-.265c.303-2.847.66-6.038 1.08-8.952.954.113 1.788.11 2.709.002.42 2.914.777 6.105 1.08 8.951zm-12.87-3.494V109.26c1.446 1.801 3.111 3.543 5.153 4.602-.47 3.15-.864 6.641-1.194 9.729a4.378 4.378 0 0 0 1.262 3.57l2.11 2.11c1.65 1.649 4.436 1.773 6.21 0l2.11-2.11a4.37 4.37 0 0 0 1.262-3.568c-.327-3.085-.72-6.573-1.191-9.717 2.044-1.054 3.707-2.79 5.151-4.589v25.327H45.878V120.53zm24.933.84s6.527-6.536 6.552-6.563a147.59 147.59 0 0 1 1.62 19.806h-8.172zm3.605-18.914a6.77 6.77 0 0 1 0 9.561l-3.61 3.61v-12.396c1.083-.355 2.15-.75 3.2-1.18zm23.355-52.44c.503 2.308.812 4.629.929 6.942a46.755 46.755 0 0 1-22.459-6.942zm10.79 9.022c0 4.157-2.725 7.572-6.554 8.659a46.263 46.263 0 0 0-.017-17.32c3.838 1.08 6.57 4.498 6.57 8.66zM91.905 27.572H70.592V9.515c8.786 3.26 16.413 9.49 21.313 18.057zM10.977 41.883l7.424-10.249h23.623v3.386a2.032 2.032 0 0 0 4.062 0V6.695a2.569 2.569 0 0 1 2.563-2.627h15.316a2.566 2.566 0 0 1 2.562 2.562v28.39a2.032 2.032 0 0 0 4.063 0v-3.386h23.622l7.424 10.249c1.23 1.695.023 4.068-2.074 4.068H13.049c-2.093 0-3.307-2.367-2.074-4.068zm3.873 8.13h21.527a46.726 46.726 0 0 1-22.458 6.942c.117-2.313.428-4.634.931-6.941zM4.06 59.036c0-4.162 2.733-7.583 6.57-8.661a46.315 46.315 0 0 0-.02 17.32c-3.827-1.086-6.55-4.501-6.55-8.656zm11.188 10.756a2.009 2.009 0 0 0-.1-.399 42.07 42.07 0 0 1-1.235-8.369 50.794 50.794 0 0 0 29.508-11.01h25.773a50.812 50.812 0 0 0 29.508 11.01c-1.015 22.104-19.294 40.434-42.394 40.434-19.794 0-36.277-13.49-41.06-31.666zm26.565 33.438v12.396l-3.61-3.61c-2.636-2.635-2.636-6.923 0-9.56l.406-.407c1.05.433 2.118.829 3.204 1.18zm-18.607 21.895a34.957 34.957 0 0 1 8.423-13.337c-1.295 7.787-1.958 15.162-2.058 22.816-4.686-.254-7.952-4.943-6.365-9.48zm59.84 9.48a151.585 151.585 0 0 0-2.048-22.817 34.977 34.977 0 0 1 8.418 13.337c1.587 4.536-1.682 9.23-6.37 9.48z" data-uid="o_fce4haelc_32"/><path d="M110.314 100.282a2.032 2.032 0 0 0-2.874 0l-8.802 8.802a2.032 2.032 0 0 0 2.549 3.137v2.953c0 1.121.91 2.031 2.03 2.031h11.32c1.12 0 2.03-.91 2.03-2.031v-2.953a2.031 2.031 0 0 0 2.55-3.136zm-5.065 12.86v-4.924l3.627-3.627 3.626 3.627v4.924z" data-uid="o_fce4haelc_33"/><path d="M112.394 130.554c1.121 0 2.031-.91 2.031-2.031v-5.417a2.032 2.032 0 0 0-4.062 0v.677h-8.256v-.677a2.032 2.032 0 0 0-4.062 0v5.417a2.032 2.032 0 0 0 4.062 0v-.677h8.256v.677c0 1.12.91 2.031 2.031 2.031z" data-uid="o_fce4haelc_34"/><path d="M128.515 117.204a2.032 2.032 0 0 0 0-4.062h-.678v-9.393h.678a2.032 2.032 0 0 0 0-4.063h-5.417a2.032 2.032 0 0 0 0 4.063h.677v9.393h-.677a2.032 2.032 0 0 0 0 4.062z" data-uid="o_fce4haelc_35"/></g></svg>
                <span class="self-center text-3xl font-bold tracking-tight whitespace-nowrap text-slate-800 dark:text-white">ArquiBundle</span>
            </div>

            <nav class="flex flex-1 flex-col">
                <ul role="list" class="flex flex-1 flex-col gap-y-7">
                    <li>
                        <ul>
                            {% for menu_item in menu %}
                                {% if menu_item.children is defined %}
                                    <li>
                                        <div data-controller="menu" data-menu-opened-value="{{ menu_item.opened ? 'true' : 'false' }}" data-menu-opened-class="rotate-90" data-menu-closed-class="rotate-0">
                                            <button type="button" class="flex items-center w-full pl-6 py-1 text-sm text-gray-700 transition duration-75 hover:bg-gray-200 dark:text-gray-200 dark:hover:bg-gray-700" aria-controls="sub-menu-1" aria-expanded="true" data-action="menu#toggle">
                                                <svg class="w-2 h-2 me-1 fill-gray-400" data-menu-target="svg" viewBox="0 0 16 16">
                                                    <path d="M3 3.732a1.5 1.5 0 0 1 2.305-1.265l6.706 4.267a1.5 1.5 0 0 1 0 2.531l-6.706 4.268A1.5 1.5 0 0 1 3 12.267V3.732Z" />
                                                </svg>
                                                <span class="flex-1 text-left rtl:text-right whitespace-nowrap">{{ menu_item.label }}</span>
                                            </button>
                                            <ul class="hidden" id="sub-menu-1" data-menu-target="submenu">
                                                {% for submenu_item in menu_item.children %}
                                                    <li class="flex items-center w-full py-1 pl-12 dark:text-white {% if submenu_item.active %}bg-cyan-500 dark:bg-cyan-500{% else %}hover:bg-gray-200 dark:hover:bg-gray-700{% endif %}">
                                                        <a href="{{ submenu_item.url }}" class="w-full text-sm text-gray-700 transition duration-75 dark:text-white {% if submenu_item.active %}text-white{% endif %}">
                                                            {{ submenu_item.label }}
                                                        </a>
                                                    </li>
                                                {% endfor %}
                                            </ul>
                                        </div>
                                    </li>
                                {% else %}
                                    <li class="flex items-center w-full py-1 pl-9 dark:text-white {% if menu_item.active %}bg-cyan-500 dark:bg-cyan-500{% else %}hover:bg-gray-200 dark:hover:bg-gray-700{% endif %}">
                                        <a href="{{ menu_item.url }}" class="w-full text-sm text-gray-700 transition duration-75 dark:text-white {% if menu_item.active %}text-white{% endif %}">
                                            {{ menu_item.label }}
                                        </a>
                                    </li>
                                {% endif %}
                            {% endfor %}
                        </ul>
                    </li>
                </ul>
            </nav>
        </div>
    </div>

    <div class="flex flex-col pl-72 h-full" data-controller="controls">
        {% if component is not null %}
            <header class="sticky top-0 z-40 flex shrink-0 justify-between gap-x-4 border-b border-gray-200 bg-white px-4 shadow-sm sm:gap-x-6 sm:px-6 lg:px-8 dark:border-gray-600 dark:bg-gray-900">
                <div class="flex items-center justify-between w-full">
                    <div class="h-full text-sm font-medium text-center text-gray-500 dark:text-gray-400 dark:border-gray-600">
                        {% if component.variants is not empty %}
                            <ul class="flex flex-wrap -mb-px">
                                {% for variant in component.variants %}
                                    <li class="me-2">
                                        <a href="{{ path('iq2i_arqui_story', {component, variant}) }}" class="inline-block p-4 border-b-2 border-transparent {% if app.request.query.get('variant') == variant.path %}tab-is-active{% else %}tab-is-unactive{% endif %}">
                                            {{ variant.name }}
                                        </a>
                                    </li>
                                {% endfor %}
                            </ul>
                        {% endif %}
                    </div>

                    <div class="flex divide-x divide-gray-600">
                        <div class="flex items-center px-6 gap-x-3 text-gray-900 dark:text-white">
                            <button title="Refresh iframe" data-action="controls#refreshIframe">
                                <svg class="w-4 h-4" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor">
                                    <path stroke-linecap="round" stroke-linejoin="round" d="M16.023 9.348h4.992v-.001M2.985 19.644v-4.992m0 0h4.992m-4.993 0 3.181 3.183a8.25 8.25 0 0 0 13.803-3.7M4.031 9.865a8.25 8.25 0 0 1 13.803-3.7l3.181 3.182m0-4.991v4.99" />
                                </svg>
                            </button>
                            <button title="Zoom in" data-action="controls#zoomIn">
                                <svg class="w-4 h-4" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor">
                                    <path stroke-linecap="round" stroke-linejoin="round" d="m21 21-5.197-5.197m0 0A7.5 7.5 0 1 0 5.196 5.196a7.5 7.5 0 0 0 10.607 10.607ZM10.5 7.5v6m3-3h-6" />
                                </svg>
                            </button>
                            <button title="Zoom out" data-action="controls#zoomOut">
                                <svg class="w-4 h-4" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor">
                                    <path stroke-linecap="round" stroke-linejoin="round" d="m21 21-5.197-5.197m0 0A7.5 7.5 0 1 0 5.196 5.196a7.5 7.5 0 0 0 10.607 10.607ZM13.5 10.5h-6" />
                                </svg>
                            </button>
                            <button title="Reset zoom" data-action="controls#resetZoom">
                                <svg class="w-4 h-4" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor">
                                    <path stroke-linecap="round" stroke-linejoin="round" d="m21 21-5.197-5.197m0 0A7.5 7.5 0 1 0 5.196 5.196a7.5 7.5 0 0 0 10.607 10.607Z" />
                                </svg>
                            </button>
                        </div>

                        <div class="flex items-center px-6 gap-x-3 text-gray-900 dark:text-white">
                            <a href="{{ path('iq2i_arqui_iframe', { component, variant: component.currentVariant }) }}" target="_blank" title="Open in new tab">
                                <svg class="w-4 h-4" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor">
                                    <path stroke-linecap="round" stroke-linejoin="round" d="M13.5 6H5.25A2.25 2.25 0 0 0 3 8.25v10.5A2.25 2.25 0 0 0 5.25 21h10.5A2.25 2.25 0 0 0 18 18.75V10.5m-10.5 6L21 3m0 0h-5.25M21 3v5.25" />
                                </svg>
                            </a>
                            <button title="Copy link" data-action="controls#copyLink">
                                <svg class="w-4 h-4" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor">
                                    <path stroke-linecap="round" stroke-linejoin="round" d="M13.19 8.688a4.5 4.5 0 0 1 1.242 7.244l-4.5 4.5a4.5 4.5 0 0 1-6.364-6.364l1.757-1.757m13.35-.622 1.757-1.757a4.5 4.5 0 0 0-6.364-6.364l-4.5 4.5a4.5 4.5 0 0 0 1.242 7.244" />
                                </svg>
                            </button>
                        </div>
                    </div>
                </div>
            </header>
        {% endif %}

        <main class="flex flex-col flex-1 divide-y divide-gray-200 dark:divide-gray-600" data-controller="tab">
            {% if component is not null %}
                <div class="flex p-2" style="height: 256px;">
                    <div class="relative w-full">
                        <iframe src="{{ path('iq2i_arqui_iframe', {component, variant: component.currentVariant}) }}" class="absolute inset-0 w-full h-full" data-controls-target="iframe"></iframe>
                    </div>
                </div>

                <div class="text-sm font-medium text-center text-gray-500 border-b border-gray-200 px-4 sm:px-6 lg:px-8 dark:text-gray-400 dark:border-gray-600">
                    <ul class="flex flex-wrap">
                        <li class="me-2">
                            <a href="#include" class="inline-block p-4 border-b-2 border-transparent tab-is-active" data-tab-target="tab" data-action="click->tab#change">
                                Include
                            </a>
                        </li>
                        <li class="me-2">
                            <a href="#twig" class="inline-block p-4 border-b-2 border-transparent tab-is-active" data-tab-target="tab" data-action="click->tab#change">
                                Twig
                            </a>
                        </li>
                        <li class="me-2">
                            <a href="#html" class="inline-block p-4 border-b-2 border-transparent tab-is-unactive" data-tab-target="tab" data-action="click->tab#change">
                                HTML
                            </a>
                        </li>
                        <li class="me-2">
                            <a href="#notes" class="inline-block p-4 border-b-2 border-transparent tab-is-unactive" data-tab-target="tab" data-action="click->tab#change">
                                Notes
                            </a>
                        </li>
                    </ul>
                </div>

                <div class="h-full">
                    <div id="include" class="relative h-full group" data-controller="copy-to-clipboard" data-copy-to-clipboard-content-value="{{ component.currentVariant.includeContent }}" data-tab-target="tabPanel">
                        <div class="overflow-x-auto p-4">
                            <pre><code class="language-twig" data-controller="highlight">
                                {{- component.currentVariant.includeContent -}}
                            </code></pre>
                        </div>

                        <button type="button" class="absolute top-4 right-4 transform translate-x-14 group-hover:translate-x-0 transition duration-200 rounded bg-cyan-500 p-2 text-white shadow-sm hover:bg-cyan-400 dark:bg-cyan-600 dark:hover:bg-cyan-500" data-action="copy-to-clipboard#copy">
                            <svg class="h-4 w-4" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" data-copy-to-clipboard-target="svg">
                                <path stroke-linecap="round" stroke-linejoin="round" d="M15.75 17.25v3.375c0 .621-.504 1.125-1.125 1.125h-9.75a1.125 1.125 0 0 1-1.125-1.125V7.875c0-.621.504-1.125 1.125-1.125H6.75a9.06 9.06 0 0 1 1.5.124m7.5 10.376h3.375c.621 0 1.125-.504 1.125-1.125V11.25c0-4.46-3.243-8.161-7.5-8.876a9.06 9.06 0 0 0-1.5-.124H9.375c-.621 0-1.125.504-1.125 1.125v3.5m7.5 10.375H9.375a1.125 1.125 0 0 1-1.125-1.125v-9.25m12 6.625v-1.875a3.375 3.375 0 0 0-3.375-3.375h-1.5a1.125 1.125 0 0 1-1.125-1.125v-1.5a3.375 3.375 0 0 0-3.375-3.375H9.75" />
                            </svg>
                            <span class="hidden block text-xs" data-copy-to-clipboard-target="text">Copied!</span>
                        </button>
                    </div>

                    <div id="twig" class="relative h-full group" data-controller="copy-to-clipboard" data-copy-to-clipboard-content-value="{{ component.currentVariant.twigContent }}" data-tab-target="tabPanel">
                        <div class="overflow-x-auto p-4">
                            <pre><code class="language-twig" data-controller="highlight">
                                {{- component.currentVariant.twigContent -}}
                            </code></pre>
                        </div>

                        <button type="button" class="absolute top-4 right-4 transform translate-x-14 group-hover:translate-x-0 transition duration-200 rounded bg-cyan-500 p-2 text-white shadow-sm hover:bg-cyan-400 dark:bg-cyan-600 dark:hover:bg-cyan-500" data-action="copy-to-clipboard#copy">
                            <svg class="h-4 w-4" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" data-copy-to-clipboard-target="svg">
                                <path stroke-linecap="round" stroke-linejoin="round" d="M15.75 17.25v3.375c0 .621-.504 1.125-1.125 1.125h-9.75a1.125 1.125 0 0 1-1.125-1.125V7.875c0-.621.504-1.125 1.125-1.125H6.75a9.06 9.06 0 0 1 1.5.124m7.5 10.376h3.375c.621 0 1.125-.504 1.125-1.125V11.25c0-4.46-3.243-8.161-7.5-8.876a9.06 9.06 0 0 0-1.5-.124H9.375c-.621 0-1.125.504-1.125 1.125v3.5m7.5 10.375H9.375a1.125 1.125 0 0 1-1.125-1.125v-9.25m12 6.625v-1.875a3.375 3.375 0 0 0-3.375-3.375h-1.5a1.125 1.125 0 0 1-1.125-1.125v-1.5a3.375 3.375 0 0 0-3.375-3.375H9.75" />
                            </svg>
                            <span class="hidden block text-xs" data-copy-to-clipboard-target="text">Copied!</span>
                        </button>
                    </div>

                    <div id="html" class="hidden relative h-full group" data-controller="copy-to-clipboard" data-copy-to-clipboard-content-value="{{ component.currentVariant.htmlContent }}" data-tab-target="tabPanel">
                        <div class="overflow-x-auto p-4">
                            <pre><code class="language-html" data-controller="highlight">
                                {{- component.currentVariant.htmlContent -}}
                            </code></pre>
                        </div>

                        <button type="button" class="absolute top-4 right-4 transform translate-x-14 group-hover:translate-x-0 transition duration-200 rounded bg-cyan-500 p-2 text-white shadow-sm hover:bg-cyan-400 dark:bg-cyan-600 dark:hover:bg-cyan-500" data-action="copy-to-clipboard#copy">
                            <svg class="h-4 w-4" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" data-copy-to-clipboard-target="svg">
                                <path stroke-linecap="round" stroke-linejoin="round" d="M15.75 17.25v3.375c0 .621-.504 1.125-1.125 1.125h-9.75a1.125 1.125 0 0 1-1.125-1.125V7.875c0-.621.504-1.125 1.125-1.125H6.75a9.06 9.06 0 0 1 1.5.124m7.5 10.376h3.375c.621 0 1.125-.504 1.125-1.125V11.25c0-4.46-3.243-8.161-7.5-8.876a9.06 9.06 0 0 0-1.5-.124H9.375c-.621 0-1.125.504-1.125 1.125v3.5m7.5 10.375H9.375a1.125 1.125 0 0 1-1.125-1.125v-9.25m12 6.625v-1.875a3.375 3.375 0 0 0-3.375-3.375h-1.5a1.125 1.125 0 0 1-1.125-1.125v-1.5a3.375 3.375 0 0 0-3.375-3.375H9.75" />
                            </svg>
                            <span class="hidden block text-xs" data-copy-to-clipboard-target="text">Copied!</span>
                        </button>
                    </div>

                    <div id="notes" class="hidden h-full" data-tab-target="tabPanel">
                        <div class="p-4 prose dark:prose-invert">
                            {% if component.currentVariant.markdownContent is not null %}
                                {{ component.currentVariant.markdownContent|raw }}
                            {% else %}
                                <em>No notes defined.</em>
                            {% endif %}
                        </div>
                    </div>
                </div>
            {% endif %}
        </main>
    </div>
{% endblock %}
