{# @var component \IQ2i\ArquiBundle\Dto\Component #}

{% extends '@IQ2iArqui/base.html.twig' %}

{% block body %}
    <div class="main__content" data-controller="controls" data-resize-target="content" style="left: 288px;">
        {% if component is not null %}
            <header>
                {% if component.variants is not empty %}
                    <ul class="tabs">
                        {% for variant in component.variants %}
                            <li class="tabs__item">
                                <a href="{{ path('iq2i_arqui_story', {component, variant}) }}" class="tabs__item_link {% if app.request.query.get('variant') == variant.path %}tab-is-active{% else %}tab-is-unactive{% endif %}">
                                    {{ variant.name }}
                                </a>
                            </li>
                        {% endfor %}
                    </ul>
                {% endif %}

                <div class="actions">
                    <button class="actions_item" title="Refresh iframe" data-action="controls#refreshIframe">
                        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 256 256"><rect width="256" height="256" fill="none"/><path d="M64,64s24-24,64-24c56,0,88,56,88,56" fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="16"/><path d="M192,192s-24,24-64,24c-56,0-88-56-88-56" fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="16"/><polyline points="168 96 216 96 216 48" fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="16"/><polyline points="88 160 40 160 40 208" fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="16"/></svg>
                        <span>Refresh</span>
                    </button>
                    <button class="actions_item" title="Zoom in" data-action="controls#zoomIn">
                        <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="#030303" viewBox="0 0 256 256"><path d="M152,112a8,8,0,0,1-8,8H120v24a8,8,0,0,1-16,0V120H80a8,8,0,0,1,0-16h24V80a8,8,0,0,1,16,0v24h24A8,8,0,0,1,152,112Zm77.66,117.66a8,8,0,0,1-11.32,0l-50.06-50.07a88.11,88.11,0,1,1,11.31-11.31l50.07,50.06A8,8,0,0,1,229.66,229.66ZM112,184a72,72,0,1,0-72-72A72.08,72.08,0,0,0,112,184Z"></path></svg>
                        <span>Zoom in</span>
                    </button>
                    <button class="actions_item" title="Zoom out" data-action="controls#zoomOut">
                        <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="#030303" viewBox="0 0 256 256"><path d="M152,112a8,8,0,0,1-8,8H80a8,8,0,0,1,0-16h64A8,8,0,0,1,152,112Zm77.66,117.66a8,8,0,0,1-11.32,0l-50.06-50.07a88.11,88.11,0,1,1,11.31-11.31l50.07,50.06A8,8,0,0,1,229.66,229.66ZM112,184a72,72,0,1,0-72-72A72.08,72.08,0,0,0,112,184Z"></path></svg>
                        <span>Zoom out</span>
                    </button>
                    <button class="actions_item" title="Reset zoom" data-action="controls#resetZoom">
                        <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="#030303" viewBox="0 0 256 256"><path d="M229.66,218.34l-50.07-50.06a88.11,88.11,0,1,0-11.31,11.31l50.06,50.07a8,8,0,0,0,11.32-11.32ZM40,112a72,72,0,1,1,72,72A72.08,72.08,0,0,1,40,112Z"></path></svg>
                        <span>Zoom 100%</span>
                    </button>

                    <div class="actions_separator"></div>

                    <a class="actions_item" href="{{ path('iq2i_arqui_iframe', { component, variant: component.currentVariant }) }}" target="_blank" title="Open in new tab">
                        <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="#030303" viewBox="0 0 256 256"><path d="M224,104a8,8,0,0,1-16,0V59.32l-66.33,66.34a8,8,0,0,1-11.32-11.32L196.68,48H152a8,8,0,0,1,0-16h64a8,8,0,0,1,8,8Zm-40,24a8,8,0,0,0-8,8v72H48V80h72a8,8,0,0,0,0-16H48A16,16,0,0,0,32,80V208a16,16,0,0,0,16,16H176a16,16,0,0,0,16-16V136A8,8,0,0,0,184,128Z"></path></svg>
                        <span>Iframe</span>
                    </a>
                    <button class="actions_item" title="Copy link" data-action="controls#copyLink">
                        <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="#030303" viewBox="0 0 256 256"><path d="M216,32H88a8,8,0,0,0-8,8V80H40a8,8,0,0,0-8,8V216a8,8,0,0,0,8,8H168a8,8,0,0,0,8-8V176h40a8,8,0,0,0,8-8V40A8,8,0,0,0,216,32ZM160,208H48V96H160Zm48-48H176V88a8,8,0,0,0-8-8H96V48H208Z"></path></svg>
                        <span>Copy</span>
                    </button>
                </div>
            </header>
        {% endif %}

        <main data-controller="tab">
            {% if component is not null %}
                <div class="component" style="height: 456px;">
                    <div class="component__content">
                        <iframe src="{{ path('iq2i_arqui_iframe', {component, variant: component.currentVariant}) }}" data-controls-target="iframe"></iframe>
                    </div>
                </div>

                <div>
                    <ul class="tabs">
                        <li class="tabs__item">
                            <a href="#twig" class="tabs__item_link tab-is-active" data-tab-target="tab" data-action="click->tab#change">
                                Twig
                            </a>
                        </li>
                        <li class="tabs__item">
                            <a href="#html" class="tabs__item_link tab-is-unactive" data-tab-target="tab" data-action="click->tab#change">
                                HTML
                            </a>
                        </li>

                        {% if component.currentVariant.includeContent is not null %}
                            <li class="tabs__item">
                                <a href="#include" class="tabs__item_link tab-is-active" data-tab-target="tab" data-action="click->tab#change">
                                    Include
                                </a>
                            </li>
                        {% endif %}

                        {% if component.currentVariant.markdownContent is not null %}
                            <li class="tabs__item">
                                <a href="#notes" class="tabs__item_link tab-is-unactive" data-tab-target="tab" data-action="click->tab#change">
                                    Notes
                                </a>
                            </li>
                        {% endif %}
                    </ul>
                </div>

                <div>
                    <div id="twig" class="group" data-controller="copy-to-clipboard" data-copy-to-clipboard-content-value="{{ component.currentVariant.twigContent }}" data-tab-target="tabPanel">
                        <div class="code">
                            <pre><code class="language-twig" data-controller="highlight">
                                {{- component.currentVariant.twigContent -}}
                            </code></pre>
                        </div>

                        <button type="button" class="copy--link" data-action="copy-to-clipboard#copy">
                            <svg data-copy-to-clipboard-target="svg" xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="#ffffff" viewBox="0 0 256 256"><path d="M216,34H88a6,6,0,0,0-6,6V82H40a6,6,0,0,0-6,6V216a6,6,0,0,0,6,6H168a6,6,0,0,0,6-6V174h42a6,6,0,0,0,6-6V40A6,6,0,0,0,216,34ZM162,210H46V94H162Zm48-48H174V88a6,6,0,0,0-6-6H94V46H210Z"></path></svg>
                            <span class="hidden" data-copy-to-clipboard-target="text">Copied!</span>
                        </button>
                    </div>

                    <div id="html" class="group hidden" data-controller="copy-to-clipboard" data-copy-to-clipboard-content-value="{{ component.currentVariant.htmlContent }}" data-tab-target="tabPanel">
                        <div class="code">
                            <pre><code class="language-html" data-controller="highlight">
                                {{- component.currentVariant.htmlContent -}}
                            </code></pre>
                        </div>

                        <button type="button" class="copy--link" data-action="copy-to-clipboard#copy">
                            <svg data-copy-to-clipboard-target="svg" xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="#ffffff" viewBox="0 0 256 256"><path d="M216,34H88a6,6,0,0,0-6,6V82H40a6,6,0,0,0-6,6V216a6,6,0,0,0,6,6H168a6,6,0,0,0,6-6V174h42a6,6,0,0,0,6-6V40A6,6,0,0,0,216,34ZM162,210H46V94H162Zm48-48H174V88a6,6,0,0,0-6-6H94V46H210Z"></path></svg>
                            <span class="hidden" data-copy-to-clipboard-target="text">Copied!</span>
                        </button>
                    </div>

                    {% if component.currentVariant.includeContent is not null %}
                        <div id="include" class="group" data-controller="copy-to-clipboard" data-copy-to-clipboard-content-value="{{ component.currentVariant.includeContent }}" data-tab-target="tabPanel">
                            <div class="code">
                                <pre><code class="language-twig" data-controller="highlight">
                                    {{- component.currentVariant.includeContent -}}
                                </code></pre>
                            </div>

                            <button type="button" class="copy--link" data-action="copy-to-clipboard#copy">
                                <svg data-copy-to-clipboard-target="svg" xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="#ffffff" viewBox="0 0 256 256"><path d="M216,34H88a6,6,0,0,0-6,6V82H40a6,6,0,0,0-6,6V216a6,6,0,0,0,6,6H168a6,6,0,0,0,6-6V174h42a6,6,0,0,0,6-6V40A6,6,0,0,0,216,34ZM162,210H46V94H162Zm48-48H174V88a6,6,0,0,0-6-6H94V46H210Z"></path></svg>
                                <span class="hidden" data-copy-to-clipboard-target="text">Copied!</span>
                            </button>
                        </div>
                    {% endif %}

                    {% if component.currentVariant.markdownContent is not null %}
                        <div id="notes" class="group hidden" data-tab-target="tabPanel">
                            <div class="prose dark:prose-invert">
                                {{ component.currentVariant.markdownContent|raw }}
                            </div>
                        </div>
                    {% endif %}
                </div>
            {% endif %}
        </main>
    </div>
{% endblock %}
