{% extends '@IQ2iArqui/base.html.twig' %}

{% block body %}
    <div class="absolute inset-0 flex flex-col h-full" data-controller="controls" data-resize-target="content" style="left: 288px;">
        {% if component is not null %}
            <header class="sticky top-0 z-40 flex shrink-0 justify-between gap-x-4 border-b border-gray-200 bg-white px-4 shadow-sm sm:gap-x-6 sm:px-6 lg:px-8 dark:border-gray-600 dark:bg-gray-900">
                <div class="flex items-center justify-between w-full">
                    <div class="h-full text-sm font-medium text-center text-gray-500 dark:text-gray-400 dark:border-gray-600">
                        {% if component.variants is not empty %}
                            <ul class="flex flex-wrap -mb-px">
                                {% for variant in component.variants %}
                                    <li class="me-2">
                                        <a href="{{ path('iq2i_arqui_story', {component, variant}) }}" class="inline-block p-4 border-b-2 border-transparent {% if app.request.query.get('variant') == variant.path %}tab-is-active{% else %}tab-is-unactive{% endif %}">
                                            {{ variant.name }}
                                        </a>
                                    </li>
                                {% endfor %}
                            </ul>
                        {% endif %}
                    </div>

                    <div class="flex divide-x divide-gray-600">
                        <div class="flex items-center px-6 gap-x-3 text-gray-900 dark:text-white">
                            <button title="Refresh iframe" data-action="controls#refreshIframe resize#resize">
                                <svg class="w-4 h-4" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor">
                                    <path stroke-linecap="round" stroke-linejoin="round" d="M16.023 9.348h4.992v-.001M2.985 19.644v-4.992m0 0h4.992m-4.993 0 3.181 3.183a8.25 8.25 0 0 0 13.803-3.7M4.031 9.865a8.25 8.25 0 0 1 13.803-3.7l3.181 3.182m0-4.991v4.99" />
                                </svg>
                            </button>
                            <button title="Zoom in" data-action="controls#zoomIn">
                                <svg class="w-4 h-4" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor">
                                    <path stroke-linecap="round" stroke-linejoin="round" d="m21 21-5.197-5.197m0 0A7.5 7.5 0 1 0 5.196 5.196a7.5 7.5 0 0 0 10.607 10.607ZM10.5 7.5v6m3-3h-6" />
                                </svg>
                            </button>
                            <button title="Zoom out" data-action="controls#zoomOut">
                                <svg class="w-4 h-4" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor">
                                    <path stroke-linecap="round" stroke-linejoin="round" d="m21 21-5.197-5.197m0 0A7.5 7.5 0 1 0 5.196 5.196a7.5 7.5 0 0 0 10.607 10.607ZM13.5 10.5h-6" />
                                </svg>
                            </button>
                            <button title="Reset zoom" data-action="controls#resetZoom">
                                <svg class="w-4 h-4" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor">
                                    <path stroke-linecap="round" stroke-linejoin="round" d="m21 21-5.197-5.197m0 0A7.5 7.5 0 1 0 5.196 5.196a7.5 7.5 0 0 0 10.607 10.607Z" />
                                </svg>
                            </button>
                        </div>

                        <div class="flex items-center px-6 gap-x-3 text-gray-900 dark:text-white">
                            <a href="{{ path('iq2i_arqui_iframe', { component, variant: component.currentVariant }) }}" target="_blank" title="Open in new tab">
                                <svg class="w-4 h-4" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor">
                                    <path stroke-linecap="round" stroke-linejoin="round" d="M13.5 6H5.25A2.25 2.25 0 0 0 3 8.25v10.5A2.25 2.25 0 0 0 5.25 21h10.5A2.25 2.25 0 0 0 18 18.75V10.5m-10.5 6L21 3m0 0h-5.25M21 3v5.25" />
                                </svg>
                            </a>
                            <button title="Copy link" data-action="controls#copyLink">
                                <svg class="w-4 h-4" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor">
                                    <path stroke-linecap="round" stroke-linejoin="round" d="M13.19 8.688a4.5 4.5 0 0 1 1.242 7.244l-4.5 4.5a4.5 4.5 0 0 1-6.364-6.364l1.757-1.757m13.35-.622 1.757-1.757a4.5 4.5 0 0 0-6.364-6.364l-4.5 4.5a4.5 4.5 0 0 0 1.242 7.244" />
                                </svg>
                            </button>
                        </div>
                    </div>
                </div>
            </header>
        {% endif %}

        <main class="flex flex-col flex-1 divide-y divide-gray-200 dark:divide-gray-600" data-controller="tab">
            {% if component is not null %}
                <div class="flex p-2" style="height: 256px;">
                    <div class="relative w-full">
                        <iframe src="{{ path('iq2i_arqui_iframe', {component, variant: component.currentVariant}) }}" class="absolute inset-0 w-full h-full" data-controls-target="iframe"></iframe>
                    </div>
                </div>

                <div class="text-sm font-medium text-center text-gray-500 border-b border-gray-200 px-4 sm:px-6 lg:px-8 dark:text-gray-400 dark:border-gray-600">
                    <ul class="flex flex-wrap">
                        <li class="me-2">
                            <a href="#include" class="inline-block p-4 border-b-2 border-transparent tab-is-active" data-tab-target="tab" data-action="click->tab#change">
                                Include
                            </a>
                        </li>
                        <li class="me-2">
                            <a href="#twig" class="inline-block p-4 border-b-2 border-transparent tab-is-active" data-tab-target="tab" data-action="click->tab#change">
                                Twig
                            </a>
                        </li>
                        <li class="me-2">
                            <a href="#html" class="inline-block p-4 border-b-2 border-transparent tab-is-unactive" data-tab-target="tab" data-action="click->tab#change">
                                HTML
                            </a>
                        </li>
                        <li class="me-2">
                            <a href="#notes" class="inline-block p-4 border-b-2 border-transparent tab-is-unactive" data-tab-target="tab" data-action="click->tab#change">
                                Notes
                            </a>
                        </li>
                    </ul>
                </div>

                <div class="h-full overflow-hidden">
                    <div id="include" class="relative h-full group" data-controller="copy-to-clipboard" data-copy-to-clipboard-content-value="{{ component.currentVariant.includeContent }}" data-tab-target="tabPanel">
                        <div class="overflow-x-auto p-4">
                                <pre><code class="language-twig" data-controller="highlight">
                                    {{- component.currentVariant.includeContent -}}
                                </code></pre>
                        </div>

                        <button type="button" class="absolute top-4 right-4 transform translate-x-14 group-hover:translate-x-0 transition duration-200 rounded bg-cyan-500 p-2 text-white shadow-sm hover:bg-cyan-400 dark:bg-cyan-600 dark:hover:bg-cyan-500" data-action="copy-to-clipboard#copy">
                            <svg class="h-4 w-4" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" data-copy-to-clipboard-target="svg">
                                <path stroke-linecap="round" stroke-linejoin="round" d="M15.75 17.25v3.375c0 .621-.504 1.125-1.125 1.125h-9.75a1.125 1.125 0 0 1-1.125-1.125V7.875c0-.621.504-1.125 1.125-1.125H6.75a9.06 9.06 0 0 1 1.5.124m7.5 10.376h3.375c.621 0 1.125-.504 1.125-1.125V11.25c0-4.46-3.243-8.161-7.5-8.876a9.06 9.06 0 0 0-1.5-.124H9.375c-.621 0-1.125.504-1.125 1.125v3.5m7.5 10.375H9.375a1.125 1.125 0 0 1-1.125-1.125v-9.25m12 6.625v-1.875a3.375 3.375 0 0 0-3.375-3.375h-1.5a1.125 1.125 0 0 1-1.125-1.125v-1.5a3.375 3.375 0 0 0-3.375-3.375H9.75" />
                            </svg>
                            <span class="hidden block text-xs" data-copy-to-clipboard-target="text">Copied!</span>
                        </button>
                    </div>

                    <div id="twig" class="relative h-full group" data-controller="copy-to-clipboard" data-copy-to-clipboard-content-value="{{ component.currentVariant.twigContent }}" data-tab-target="tabPanel">
                        <div class="overflow-x-auto p-4">
                                <pre><code class="language-twig" data-controller="highlight">
                                    {{- component.currentVariant.twigContent -}}
                                </code></pre>
                        </div>

                        <button type="button" class="absolute top-4 right-4 transform translate-x-14 group-hover:translate-x-0 transition duration-200 rounded bg-cyan-500 p-2 text-white shadow-sm hover:bg-cyan-400 dark:bg-cyan-600 dark:hover:bg-cyan-500" data-action="copy-to-clipboard#copy">
                            <svg class="h-4 w-4" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" data-copy-to-clipboard-target="svg">
                                <path stroke-linecap="round" stroke-linejoin="round" d="M15.75 17.25v3.375c0 .621-.504 1.125-1.125 1.125h-9.75a1.125 1.125 0 0 1-1.125-1.125V7.875c0-.621.504-1.125 1.125-1.125H6.75a9.06 9.06 0 0 1 1.5.124m7.5 10.376h3.375c.621 0 1.125-.504 1.125-1.125V11.25c0-4.46-3.243-8.161-7.5-8.876a9.06 9.06 0 0 0-1.5-.124H9.375c-.621 0-1.125.504-1.125 1.125v3.5m7.5 10.375H9.375a1.125 1.125 0 0 1-1.125-1.125v-9.25m12 6.625v-1.875a3.375 3.375 0 0 0-3.375-3.375h-1.5a1.125 1.125 0 0 1-1.125-1.125v-1.5a3.375 3.375 0 0 0-3.375-3.375H9.75" />
                            </svg>
                            <span class="hidden block text-xs" data-copy-to-clipboard-target="text">Copied!</span>
                        </button>
                    </div>

                    <div id="html" class="hidden relative h-full group" data-controller="copy-to-clipboard" data-copy-to-clipboard-content-value="{{ component.currentVariant.htmlContent }}" data-tab-target="tabPanel">
                        <div class="overflow-x-auto p-4">
                                <pre><code class="language-html" data-controller="highlight">
                                    {{- component.currentVariant.htmlContent -}}
                                </code></pre>
                        </div>

                        <button type="button" class="absolute top-4 right-4 transform translate-x-14 group-hover:translate-x-0 transition duration-200 rounded bg-cyan-500 p-2 text-white shadow-sm hover:bg-cyan-400 dark:bg-cyan-600 dark:hover:bg-cyan-500" data-action="copy-to-clipboard#copy">
                            <svg class="h-4 w-4" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" data-copy-to-clipboard-target="svg">
                                <path stroke-linecap="round" stroke-linejoin="round" d="M15.75 17.25v3.375c0 .621-.504 1.125-1.125 1.125h-9.75a1.125 1.125 0 0 1-1.125-1.125V7.875c0-.621.504-1.125 1.125-1.125H6.75a9.06 9.06 0 0 1 1.5.124m7.5 10.376h3.375c.621 0 1.125-.504 1.125-1.125V11.25c0-4.46-3.243-8.161-7.5-8.876a9.06 9.06 0 0 0-1.5-.124H9.375c-.621 0-1.125.504-1.125 1.125v3.5m7.5 10.375H9.375a1.125 1.125 0 0 1-1.125-1.125v-9.25m12 6.625v-1.875a3.375 3.375 0 0 0-3.375-3.375h-1.5a1.125 1.125 0 0 1-1.125-1.125v-1.5a3.375 3.375 0 0 0-3.375-3.375H9.75" />
                            </svg>
                            <span class="hidden block text-xs" data-copy-to-clipboard-target="text">Copied!</span>
                        </button>
                    </div>

                    <div id="notes" class="hidden h-full" data-tab-target="tabPanel">
                        <div class="p-4 prose dark:prose-invert">
                            {% if component.currentVariant.markdownContent is not null %}
                                {{ component.currentVariant.markdownContent|raw }}
                            {% else %}
                                <em>No notes defined.</em>
                            {% endif %}
                        </div>
                    </div>
                </div>
            {% endif %}
        </main>
    </div>
{% endblock %}
