<!doctype html>
<html class="h-full bg-white" lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Arqui bundle</title>

        <link rel="stylesheet" href="{{ asset('/bundles/iq2iarqui/arqui.css') }}"/>

        <script type="importmap">
            {
                "imports": {
                    "arqui": "{{ asset('/bundles/iq2iarqui/arqui.js') }}",
                    "@hotwired/stimulus": "{{ asset('/bundles/iq2iarqui/vendor/stimulus/stimulus.js') }}",
                    "highlight.js/lib/core": "{{ asset('/bundles/iq2iarqui/vendor/highlight.js/lib/core.js') }}",
                    "highlight.js/lib/languages/twig": "{{ asset('/bundles/iq2iarqui/vendor/highlight.js/lib/languages/twig.js') }}",
                    "highlight.js/lib/languages/xml": "{{ asset('/bundles/iq2iarqui/vendor/highlight.js/lib/languages/xml.js') }}"
                }
            }
        </script>
        <script type="module">import 'arqui';</script>
    </head>

    <body class="h-full">
        <div class="fixed inset-y-0 z-50 flex w-72 flex-col">
            <div class="flex grow flex-col gap-y-5 overflow-y-auto border-r border-gray-200 bg-white px-6 pb-4">
                <div class="flex h-16 shrink-0 items-center">
                    <img class="h-8 w-auto" src="https://tailwindui.com/img/logos/mark.svg?color=indigo&shade=600" alt="Your Company">
                </div>

                <nav class="flex flex-1 flex-col">
                    <ul role="list" class="flex flex-1 flex-col gap-y-7">
                        <li>
                            <ul role="list" class="-mx-2 space-y-1">
                                {% for menu_item in menu %}
                                    {% if menu_item.children is defined %}
                                        <li>
                                            <div data-controller="menu" data-menu-opened-value="{{ menu_item.opened ? 'true' : 'false' }}" data-menu-opened-class="rotate-90 text-gray-500" data-menu-closed-class="text-gray-400">
                                                <button type="button" class="hover:bg-gray-50 flex items-center w-full text-left rounded-md p-2 gap-x-3 text-sm leading-6 font-semibold text-gray-700" aria-controls="sub-menu-1" aria-expanded="true" data-action="menu#toggle">
                                                    <svg class="h-5 w-5 shrink-0" data-menu-target="svg" viewBox="0 0 20 20" fill="currentColor" aria-hidden="true">
                                                        <path fill-rule="evenodd" d="M7.21 14.77a.75.75 0 01.02-1.06L11.168 10 7.23 6.29a.75.75 0 111.04-1.08l4.5 4.25a.75.75 0 010 1.08l-4.5 4.25a.75.75 0 01-1.06-.02z" clip-rule="evenodd"></path>
                                                    </svg>
                                                    {{ menu_item.label }}
                                                </button>
                                                <ul class="mt-1 px-2 hidden" id="sub-menu-1" data-menu-target="submenu">
                                                    {% for submenu_item in menu_item.children %}
                                                        <li>
                                                            <a href="{{ submenu_item.url }}" class="block rounded-md py-2 pr-2 pl-9 text-sm leading-6 text-gray-700 {% if submenu_item.active %}bg-gray-50{% else %}hover:bg-gray-50{% endif %}">{{ submenu_item.label }}</a>
                                                        </li>
                                                    {% endfor %}
                                                </ul>
                                            </div>
                                        </li>
                                    {% else %}
                                        <li>
                                            <a href="{{ menu_item.url }}" class="block rounded-md py-2 pr-2 pl-10 text-sm leading-6 font-semibold text-gray-700 {% if menu_item.active %}bg-gray-50{% else %}hover:bg-gray-50{% endif %}">{{ menu_item.label }}</a>
                                        </li>
                                    {% endif %}
                                {% endfor %}
                            </ul>
                        </li>
                    </ul>
                </nav>
            </div>
        </div>

        <div class="flex flex-col pl-72 h-full">
            {% if component is defined %}
                <header class="sticky top-0 z-40 flex h-16 shrink-0 justify-between gap-x-4 border-b border-gray-200 bg-white px-4 shadow-sm sm:gap-x-6 sm:px-6 lg:px-8">
                    <div class="flex px-2 lg:px-0 items-center">
                        <h1 class="text-xl font-bold leading-7 text-gray-900 sm:truncate sm:text-2xl sm:tracking-tight">
                            {{ component }} - {{ variant }}
                        </h1>
                    </div>
                </header>
            {% endif %}

            {% if tabs is defined %}
                <div class="border-b border-gray-200 px-4 overflow-x-auto sm:px-6 lg:px-8">
                    <nav class="-mb-px flex space-x-8" aria-label="Tabs">
                        {% for tab in tabs %}
                            <a href="{{ tab.url }}" class="whitespace-nowrap border-b-2 py-4 px-1 text-sm font-medium {% if tab.active %}border-indigo-500 text-indigo-600{% else %}border-transparent text-gray-500 hover:border-gray-300 hover:text-gray-700{% endif %}">
                                {{ tab.label }}
                            </a>
                        {% endfor %}
                    </nav>
                </div>
            {% endif %}

            <main class="flex flex-col flex-1 divide-y divide-gray-200">
                {% if component is defined %}
                    <div class="p-6">
                        <iframe src="{{ path('iq2i_arqui_iframe', { component, variant }) }}" class="w-full min-h-48"></iframe>
                    </div>

                    <div class="flex-1 grid grid-cols-2 w-full divide-x divide-gray-200">
                        <div class="relative p-4 bg-white group" data-controller="copy-to-clipboard" data-copy-to-clipboard-content-value="{{ twig }}">
                            <div class="overflow-x-auto h-full">
                                <pre><code class="language-twig" data-controller="highlight">
                                    {{- twig -}}
                                </code></pre>
                            </div>

                            <button type="button" class="absolute top-4 right-4 transform translate-x-14 group-hover:translate-x-0 transition duration-200 rounded-full bg-indigo-600 p-2 text-white shadow-sm hover:bg-indigo-500" data-action="copy-to-clipboard#copy">
                                <svg class="h-5 w-5" viewBox="0 0 20 20" fill="currentColor" aria-hidden="true" data-copy-to-clipboard-target="svg">
                                    <path d="M10.75 4.75a.75.75 0 00-1.5 0v4.5h-4.5a.75.75 0 000 1.5h4.5v4.5a.75.75 0 001.5 0v-4.5h4.5a.75.75 0 000-1.5h-4.5v-4.5z" />
                                </svg>
                                <span class="hidden block text-xs" data-copy-to-clipboard-target="text">Copied!</span>
                            </button>
                        </div>

                        <div class="relative p-4 bg-white group" data-controller="copy-to-clipboard" data-copy-to-clipboard-content-value="{{ html }}">
                            <div class="overflow-x-auto h-full">
                                <pre><code class="language-html" data-controller="highlight">
                                    {{- html -}}
                                </code></pre>
                            </div>

                            <button type="button" class="absolute top-4 right-4 transform translate-x-14 group-hover:translate-x-0 transition duration-200 rounded-full bg-indigo-600 p-2 text-white shadow-sm hover:bg-indigo-500" data-action="copy-to-clipboard#copy">
                                <svg class="h-5 w-5" viewBox="0 0 20 20" fill="currentColor" aria-hidden="true" data-copy-to-clipboard-target="svg">
                                    <path d="M10.75 4.75a.75.75 0 00-1.5 0v4.5h-4.5a.75.75 0 000 1.5h4.5v4.5a.75.75 0 001.5 0v-4.5h4.5a.75.75 0 000-1.5h-4.5v-4.5z" />
                                </svg>
                                <span class="hidden block text-xs" data-copy-to-clipboard-target="text">Copied!</span>
                            </button>
                        </div>
                    </div>
                {% endif %}
            </main>
        </div>
    </body>
</html>